<div class="employee-profile__container">
  <div class="employee-profile">
    <div class="employee-profile__left">
      <img [src]="'http://localhost:8080' + employee?.photoUrl" class="employee-profile__photo" alt="employee photo">
      <div class="employee-profile-button__container">
        <input #fileInput type="file" accept="image/*" (change)="onChangeEmployeePhoto($event)" hidden>
        <button class="employee-profile__button primary-button-style" type="button" (click)="fileInput.click()">Change Photo</button>
        <button class="employee-profile__button" (click)="onToggleEditEmployee()" [ngClass]="this.editEmployeeForm.enabled ? 'primary-button-selected-style' : 'primary-button-style'">Edit Profile</button>
        <button class="employee-profile__button primary-close-button-style" (click)="onCloseEmployeeProfile()">Close</button>
        <button class="employee-profile__button primary-button-style" [disabled]="this.editEmployeeForm.disabled">Save Profile</button>
      </div>
    </div>
    <div class="employee-profile__right">
      <div class="employee-profile-navigation__container">
        <button class="employee-profile-navigation__button" (click)="onClickEmployeePage(generalInfoButton)" #generalInfoButton [ngClass]="isGeneralInfoShowing ? 'active' : 'inactive'">General</button>
        <button class="employee-profile-navigation__button" (click)="onClickEmployeePage(contactInfoButton)" #contactInfoButton [ngClass]="isContactInfoShowing ? 'active' : 'inactive'">Contact Info</button>
        <button class="employee-profile-navigation__button" (click)="onClickEmployeePage(personalInfoButton)" #personalInfoButton [ngClass]="isPersonalInfoShowing ? 'active' : 'inactive'">Personal</button>
        <button class="employee-profile-navigation__button" (click)="onClickEmployeePage(employmentInfoButton)" #employmentInfoButton [ngClass]="isEmploymentInfoShowing ? 'active' : 'inactive'">Employment</button>
      </div>
      <div class="employee-profile-right__content">
      <form [formGroup]="editEmployeeForm">
          <div *ngIf="isGeneralInfoShowing" class="employee-profile-right__content">
            <h5 class="edit-profile-item__label">First Name</h5>
            <input formControlName="firstName" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Middle Name</h5>
            <input formControlName="middleName" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Last Name</h5>
            <input formControlName="lastName" class="edit-profile-input">
            <h5 class="edit-profile-item__label">State Name</h5>
            <input formControlName="state" class="edit-profile-input">
            <h5 class="edit-profile-item__label">City</h5>
            <input formControlName="city" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Zip Code</h5>
            <input formControlName="zipCode" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Street Address</h5>
            <input formControlName="streetAddress" class="edit-profile-input">
          </div>
          <div *ngIf="isContactInfoShowing" class="employee-profile-right__content">
            <h5 class="edit-profile-item__label">Phone Number</h5>
            <input formControlName="phoneNumber" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Email</h5>
            <input formControlName="email" class="edit-profile-input">
          </div>
          <div *ngIf="isPersonalInfoShowing" class="employee-profile-right__content">
            <!--
            <h5>Date of Birth</h5>
            <h5>Social Security Number</h5>

            -->
          </div>
          <div *ngIf="isEmploymentInfoShowing" class="employee-profile-right__content">
            <h5 class="edit-profile-item__label">Date of Hire</h5>
            <input formControlName="dateOfHire" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Job Title</h5>
            <input formControlName="jobTitle" class="edit-profile-input">
            <h5 class="edit-profile-item__label">Status</h5>
            <input formControlName="status" class="edit-profile-input">
          </div>
        </form>
        <div class="edit-profile-messages__container">
          <h5 *ngIf="this.editEmployeeForm.enabled" class="important">Currently In Edit Mode.</h5>
        </div>
      </div>
    </div>
  </div>
</div>
