<div class="navigation-bar__container">
  <nav class="navigation">
    <ul class="navigation-list">

      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Dashboard</li></a>
      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Employees</li></a>
      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Schedule</li></a>
      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Time Off & PTO</li></a>
      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Reports</li></a>
      <a href="" target="_blank" class="navigation-list__item-link"><li class="navigation-list__item">Settings</li></a>
    </ul>
  </nav>
</div>
