<div class="employee-form__container">

  <form [formGroup]="employeeForm" (ngSubmit)="submitEmployeeForm()" class="employee-form">
    <h2>Add Employee</h2>
    <input type="text" formControlName="firstName" placeholder="First Name" class="employee-form__input">
      <small *ngIf="employeeForm.get('firstName')?.hasError('minlength')" class="input-error">Length of first name is too small.</small>
      <small *ngIf="employeeForm.get('firstName')?.hasError('maxlength')" class="input-error">Length of first name is too large.</small>
      <small *ngIf="employeeForm.get('firstName')?.hasError('pattern')" class="input-error">First Name has invalid formatting.</small>
    <input type="text" formControlName="middleName" placeholder="Middle Name" class="employee-form__input">
      <small *ngIf="employeeForm.get('middleName')?.hasError('minlength')" class="input-error">Length of middle name is too small.</small>
      <small *ngIf="employeeForm.get('middleName')?.hasError('maxlength')" class="input-error">Length of middle name is too large.</small>
      <small *ngIf="employeeForm.get('middleName')?.hasError('pattern')" class="input-error">Middle Name has invalid formatting.</small>
    <input type="text" formControlName="lastName" placeholder="Last Name" class="employee-form__input">
      <small *ngIf="employeeForm.get('lastName')?.hasError('minlength')" class="input-error">Length of last name is too small.</small>
      <small *ngIf="employeeForm.get('lastName')?.hasError('maxlength')" class="input-error">Length of last name is too large.</small>
      <small *ngIf="employeeForm.get('lastName')?.hasError('pattern')" class="input-error">Last Name has invalid formatting.</small>
    <input type="email" formControlName="email" placeholder="Email" class="employee-form__input">
      <small *ngIf="employeeForm.get('email')?.hasError('minlength')" class="input-error">Length of email is too small.</small>
      <small *ngIf="employeeForm.get('email')?.hasError('maxlength')" class="input-error">Length of email is too large.</small>
      <small *ngIf="employeeForm.get('email')?.hasError('email')" class="input-error">Email has invalid formatting.</small>
    <input type="text" formControlName="phoneNumber" placeholder="Phone Number" class="employee-form__input">
      <small *ngIf="employeeForm.get('phoneNumber')?.hasError('minlength')" class="input-error">Length of phone number is too small.</small>
      <small *ngIf="employeeForm.get('phoneNumber')?.hasError('maxlength')" class="input-error">Length of phone number is too large.</small>
      <small *ngIf="employeeForm.get('phoneNumber')?.hasError('pattern')" class="input-error">Phone Number has invalid formatting.</small>
    <select formControlName="state" class="employee-form__input">
      <option value="" disabled>Select State</option>
      <option *ngFor="let state of states" [value]="state">
        {{state}}
      </option>
    </select>
    <input type="text" formControlName="city" placeholder="City" class="employee-form__input">
      <small *ngIf="employeeForm.get('city')?.hasError('minlength')" class="input-error">Length of city is too small.</small>
      <small *ngIf="employeeForm.get('city')?.hasError('maxlength')" class="input-error">Length of city number is too large.</small>
      <small *ngIf="employeeForm.get('city')?.hasError('pattern')" class="input-error">City has invalid formatting.</small>
    <input type="text" formControlName="zipCode" placeholder="Zip Code" class="employee-form__input">
      <small *ngIf="employeeForm.get('zipCode')?.hasError('minlength')" class="input-error">Length of zip code is too small.</small>
      <small *ngIf="employeeForm.get('zipCode')?.hasError('maxlength')" class="input-error">Length of zip code is too large.</small>
      <small *ngIf="employeeForm.get('zipCode')?.hasError('pattern')" class="input-error">Zip code has invalid formatting.</small>
    <input type="text" formControlName="streetAddress" placeholder="Street Address" class="employee-form__input">
      <small *ngIf="employeeForm.get('streetAddress')?.hasError('minlength')" class="input-error">Length of street address is too small.</small>
      <small *ngIf="employeeForm.get('streetAddress')?.hasError('maxlength')" class="input-error">Length of street address is too large.</small>
      <small *ngIf="employeeForm.get('streetAddress')?.hasError('pattern')" class="input-error">Street address has invalid formatting.</small>
    <input type="text" formControlName="jobTitle" placeholder="Job Title" class="employee-form__input">
      <small *ngIf="employeeForm.get('jobTitle')?.hasError('minlength')" class="input-error">Length of job title is too small.</small>
      <small *ngIf="employeeForm.get('jobTitle')?.hasError('maxlength')" class="input-error">Length of job title is too large.</small>
    <input type="date" formControlName="dateOfHire" placeholder="Date of Hire" class="employee-form__input">
    <select formControlName="status" class="employee-form__input">
      <option value="" disabled>Select Employment Status</option>
      <option *ngFor="let status of statuses" [value]="status">
        {{status}}
      </option>
    </select>
    <div class="employee-form__button-container">
      <button type="submit" class="employee-form__button">Save Employee</button>
      <button (click)="onCloseEmployeeForm()" class="employee-form__button">Close</button>
    </div>
  </form>
</div>
